<div class="form__block <%= !input.required ? 'form__block--optional' : '' %> <%= input.inputType !== 'input' ? 'form__element--large' : '' %>" <%=!input.required ? 'data-optional-input' : ''%>>
  <label class="form__label" for="<%=input.name%>">
    <p class="label__text">
      <%= input.label %>
      <%- input.required ? '<span class="label__required">*</span>' : '' %>
    </p>
    <% if(input.hint) { %>
    <div class="hint__trigger">!</div>
    <p class="label__hint"><%=input.hint%></p>
    <% } %>
  </label>
  <% if(input.inputType === "input") { %>
  <input data-input maxlength="<%= input.maxLength %>" class="form__input" type="text" id="<%=input.name%>" name="<%=input.name%>" placeholder="<%=input.placeholder%>" <%= input.required ? 'required' : '' %> />
  <% } else { %>
  <textarea data-input maxlength="<%= input.maxLength %>" class="form__input form__input--large" id="<%=input.name%>" name="<%=input.name%>" placeholder="<%=input.placeholder%>" <%= input.required ? 'required' : '' %>></textarea>
  <% } %>
  <div class="input__length" data-maxlength="<%= input.maxLength %>" data-maxlength-name="<%=input.name%>">0 / <%= input.maxLength %></div>
</div>