<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: `${error.message} | Cover Letter
  Generator ðŸ“` }); %>

  <body>
    <div class="container">
      <%- include('../partials/header.ejs') %>

      <main class="main">
        <div class="error">
          <span class="error__emoji">ðŸ˜¥</span>
          <%=error.status%> | <%= error.message%>
        </div>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
