<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>

<body>
  <div class="container">
    <%- include('../partials/header.ejs'); %>

    <main class="main">
      <div class="main__top">
        <h1 class="main__title">
          Generate Cover Letter Email Easily With GPT Model
        </h1>
        <button class="btn" data-focus-btn>Try it now 👇</button>
      </div>
      <section class="main__container">
        <%- include("../partials/api-key-modal.ejs") %>
        <form class="form" data-form>
          <div class="form__range">
            <label for="tempreture"> Model Creativity </label>
            <input class="range__input" type="range" name="tempreture" min="5" max="10" value="5" data-input="range" />
            <p data-range-value class="range__value">Default</p>
            <div class="hint__trigger">!</div>
            <p class="label__hint">
              This controls how creative or conservative the model is when
              generating Cover Letters. A higher number will result in more
              creative results. Try default first.
            </p>
          </div>

          <% inputs.forEach(input => { %> <%- include("../partials/input.ejs",
            { input }) %> <% }) %>
          <button class="btn btn--alt" type="button" data-optional-trigger="false">
            Show Optional Inputs
          </button>
          <button class="btn btn--alt" type="reset">Reset Fields</button>
          <button class="btn form__element--large" data-submit-btn>
            Generate
          </button>
        </form>
      </section>
      <section class="generated" data-generated hidden>
        <h2 class="generated__title">Generated Cover Letter</h2>
        <div class="generated__text">
          <span class="generated__tip">Click To Copy 📋</span>
          <div data-generated-text></div>
          <div data-generated-text-bottom></div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <div class="toast">
      <div class="toast__stack" data-toast-stack></div>
    </div>

    <script src="js/index.js" type="module"></script>
  </div>
</body>

</html>